<extend name="Base::base" />
<block name="link">
    <link rel="stylesheet" href="/Public/home/User/register/index.css">
</block>
<block name="main">
    <div class="main">
        <div class="layout account_main">
            <div class="title">
                <h3>注册</h3>
                <p>请填写注册的基本信息</p>
            </div>
            <div class="set_main">
                <form class="form-horizontal" style="margin: 40px 303px;">
                    <div class="form-group">
                        <label for="phone-num" class="col-sm-2 control-label" >绑定手机</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="phone-num" placeholder="绑定手机">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="password" class="col-sm-2 control-label" >登录密码</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="password" placeholder="登录密码">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="confron-password" class="col-sm-2 control-label" >确认密码</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="confron-password" placeholder="确认密码">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button type="submit" id="submit-save" class="btn btn-primary">注册</button>
                            <a href="__CONTROLLER__/login" style="position: absolute;right: 10px;top: 8px;    font-size: 12px;color: #42cab0;">已有帐号?</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</block>
<!-- 引入具体页面的javascript -->
<block name="javascript">
    <!--<script type="text/javascript" src="__PUBLIC__/Home/View/index/js/index.js" ></script>-->
</block>
