html,body{
    overflow: hidden;
}
#container{
    height: 100%;
}
#container .header{
    display: none !important;
}
footer {display:none }
#container .header{display: none !important;}
footer {display:none }
.main{
    width: auto;
    height: 100%;
    margin: 0px;
    /*margin-right: 220px;*/
    /*padding:10px;*/
    position: relative;
    background-color: #fff;
    zoom: 1;
    position: relative;
}
.main .left{
    width: 220px;
    height: 100%;
    border: 1px solid #d5d5d5;
    /*margin: 10px 0px 10px 10px;*/
    background-color: #FFFFFF;
    position: absolute;
    top: 0px;
    left: 0px;
}
.main .left .block{
    background-color: #716b7a;
    height: 100px;
    /*margin-bottom: 15px;*/
    margin:0px 10px 15px 10px ;
}
.main #edit{
    min-width: 650px;
    width: auto;
    margin-left: 219px;
    background-color: #fff;
    border: 0px solid #d5d5d5;
    border-bottom: 1px solid #d5d5d5;
}
.main #edit .nav{
    width: 100%;
    margin: 0px;
    background-color: #fff;
    border: 1px solid #d5d5d5;
    border-bottom: 0px solid #fff;
}
.main #edit .nav ul{
    margin: 0px;
    padding: 10px;
    border-bottom: 1px solid #CCCCCC;
    border-top: 1px solid #CCCCCC;
    overflow: hidden;
}
.main #edit .nav ul li{
    height: 25px;
    line-height: 25px;
    padding: 0px 10px;
    float: left;
}
.main #edit .nav ul li a{
    display: block;
    padding: 0px 20px;
    border:  1px solid #A0A0A0;
    border-radius: 1px;
    /*border-bottom-right-radius: 2px;*/
}
.main #edit .nav ul li a:hover{
    background-color: #d5d5d5;
}
.main #edit .nav ul li a.active{
    background-color: #d5d5d5;
}
.main #edit .nav ul li.b{
    margin: 0px 2px;
    padding: 0px;
}
.main #edit .nav ul span{
    border-left:  1px solid #A0A0A0;
}
/*标题
*/
.main #edit .nav .title{
    position: relative;
    padding: 10px 0px;
}
.ui-datepicker-calendar a{
    text-align: center !important;

}
.hasDatepicker{
    height: 30px;
    line-height: 30px;
    padding-left: 5px ;
}
.main #edit .nav .title #title{
    margin-left: 20px;
    padding-left: 10px;
    width: 30%;
    height: 30px;
    line-height: 30px;
}
.main #edit .nav .title span{
    display: inline-block;
    height: 20px;
    line-height: 20px;
    *height:33px;
    *line-height:25px;
    margin-left: 20px;
}

.main #edit .nav .title  select{
    height: 30px;
}
#datepicker{
    width: 100px;
}
/*
*/
.ke-container {
    display: block;
    /*border: 1px solid #CCCCCC !important;*/
    border-bottom:0px solid #CCCCCC !important;
    background-color: #FFF;
    overflow: hidden;
    margin: 0;
    padding: 0;
}
