.layout {
    width: 1120px;
    margin: 0 auto;
}

.account_main .title {
    height: 52px;
    padding-bottom: 100px;
    border-bottom: 1px solid #dddce1;
    padding-top: 18px;
}

.account_main .title h3 {
    font-size: 18px;
    font-weight: bold;
    color: #222343;
    line-height: 30px;
    margin-bottom: 0px;
}
.account_main .title p {
    color: #999;
}

