<extend name="Base::base" />
<block name="link">
    <link rel="stylesheet" href="/Public/home/Index/index.css">
</block>
<block name="main">
    <div class="guanggao">广告</div>
    <div class="main">
        div.guanggao
        <div class="left">
            <div class="block">
                <ul class="list">
                    <li><a href="">11111</a></li>
                    <li><a href="">222222</a></li>
                    <li><a href="">3333</a></li>
                    <li><a href="">4444444</a></li>
                </ul>
                <ul class="tool">
                    <li></li>
                </ul>
            </div>
            <div class="block"> <ul class="list"></ul></div>
            <div class="block"> <ul class="list"></ul></div>
        </div>
        <div class="R">
            <ul class="list clearfix"  >
                <div class="nav">计划</div>
                <li>
                    <p class="title">标题</p>
                    <time>时间</time>
                    <p class="cont">内内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容容</p>
                </li>
                <li>
                    <p class="title">标题</p>
                    <time>时间</time>
                    <p class="cont">内内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容容</p>
                </li>
                <p class="iconfont more" >&#xe610;</p>
            </ul>
        </div>
        <div class="right">
            <div class="block">news</div>
            <ul class="list"  >
                <div class="nav"><span>计划</span></div>
                <li>
                    <p class="title">标题</p>
                    <time>时间</time>
                    <p class="cont">内内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容容</p>
                </li>
                <li>
                    <p class="title">标题</p>
                    <time>时间</time>
                    <p class="cont">内内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容容</p>
                </li>
                <p class="iconfont more" >&#xe610;</p>
            </ul>
            <ul class="list"  >
                <div class="nav"><span>重要事件</span></div>
                <li>
                    <p class="title">标题</p>
                    <time>时间</time>
                    <p class="cont">内内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容容</p>
                </li>
                <li>
                    <p class="title">标题</p>
                    <time>时间</time>
                    <p class="cont">内内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容容</p>
                </li>
                <p class="iconfont more" >&#xe610;</p>
            </ul>
            <ul class="list last"  >
                <div class="nav"><span>时间仓</span></div>
                <li>
                    <p class="title">标题</p>
                    <time>时间</time>
                    <p class="cont">内内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容容</p>
                </li>
                <li>
                    <p class="title">标题</p>
                    <time>时间</time>
                    <p class="cont">内内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容容</p>
                </li>
                <p class="iconfont more" >&#xe610;</p>
            </ul>
        </div>
    </div>
</block>
<!-- 引入具体页面的javascript -->
<block name="javascript">
    <script type="text/javascript" src="/Public/home/Index/index.js" ></script>
</block>
