<extend name="Base::base" />
<block name="link">
    <link rel="stylesheet" href="/Public/home/Index/index.css">
</block>
<block name="main">
    <include file="Chat:index"/>
    <div class="main">
        <div class="left"></div>
        <div class="right">
            <ul class="list"  >
                <h5>日记</h5>
                <li>
                    <p class="title">标题</p>
                    <time>时间</time>
                    <p class="cont">内内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容容</p>
                </li>
                <li>
                    <p class="title">标题</p>
                    <time>时间</time>
                    <p class="cont">内内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容容</p>
                </li>
                <p class="iconfont more" >&#xe610;</p>
            </ul>
            <ul class="list"  >
                <h5>计划</h5>
                <li>
                    <p class="title">标题</p>
                    <time>时间</time>
                    <p class="cont">内内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容容</p>
                </li>
                <li>
                    <p class="title">标题</p>
                    <time>时间</time>
                    <p class="cont">内内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容容</p>
                </li>
                <p class="iconfont more" >&#xe610;</p>
            </ul>
            <ul class="list"  >
                <h5>重要事件</h5>
                <li>
                    <p class="title">标题</p>
                    <time>时间</time>
                    <p class="cont">内内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容容</p>
                </li>
                <li>
                    <p class="title">标题</p>
                    <time>时间</time>
                    <p class="cont">内内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容容</p>
                </li>
                <p class="iconfont more" >&#xe610;</p>
            </ul>
            <ul class="list"  >
                <h5>时间仓</h5>
                <li>
                    <p class="title">标题</p>
                    <time>时间</time>
                    <p class="cont">内内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容容</p>
                </li>
                <li>
                    <p class="title">标题</p>
                    <time>时间</time>
                    <p class="cont">内内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容容</p>
                </li>
                <p class="iconfont more" >&#xe610;</p>
            </ul>
        </div>
        <p>sasasa</p>
    </div>
</block>
<!-- 引入具体页面的javascript -->
<block name="javascript">
    <!--<script type="text/javascript" src="__PUBLIC__/Home/View/index/js/index.js" ></script>-->
</block>
