<extend name="Base::base" />
<block name="link">
    <style>
        .enter{
            height: 50px;
            position: absolute;
            right: 30px;
        }
        .enter li{
            height: 50px;
            line-height: 50px;
            display: inline-block;
        }
        .enter li a{
            padding: 0px 10px;
            display: block;
        }
        .main{
            width: 100%;
            margin: 0px;
            /*background-color: #0f0f0f;*/
            border: 1px solid #0f0f0f;
            overflow: hidden;
            position: relative;
        }
        .main ul{
            margin: 0px;
            padding: 0px;
            font-size: 100px;
            position: absolute;
            bottom: 0px;
        }
        .main ul li{
            height: 100%;
            margin: 0px;
            padding: 0px;
            font-size: 100px;
        }
        html,body{
            overflow: hidden;
        }
    </style>
</block>
<!--<block name="title"><title>搜课网</title></block>-->
<block name="main">
</block>
<!-- 引入具体页面的javascript -->
<block name="javascript">
    <!--<script type="text/javascript" src="__PUBLIC__/Home/View/index/js/index.js" ></script>-->
</block>