<extend name="Base::base" />
<block name="link">
    <link rel="stylesheet" href="/Public/home/Jour/create/index.css">
</block>
<block name="main">
    <div class="main">
        <div class="left">
            <div class="nav">
                <div class="tool" style="height: 70px">
                    <input type="text"
                           style   ="width: 130px;
    height: 33px;
    line-height: 33px;
    padding-left: 10px;
    position: absolute;
    top: 20px;
    left: 10px;
    border: 1px solid #ccc;
   "
                           placeholder="搜索" title="搜索">
                    <button type="submit" id="" class="btn btn-default"
                            style="position: absolute;right: 10px ;top: 20px;
                            height:35px;
                             *height:37px;
    line-height: 35px;
    padding-top: 0px;"

                >保存</button>
                </div>
            </div>
            <div class="chat">
                <ul id="ul">
                    <li class="list">
                        <a class="title">日记</a>
                        <ul>
                            <foreach name="jourList" item="vo" key="k" >
                                <li><a style="    display: block;" href="http://www.haoshenghuo.com/index.php/Home/Jour/selectJourContent?jourId={$vo.jourid}">{$vo.title}</a></li>
                            </foreach>
                        </ul>
                    </li>
                    <li class="list">
                        <a class="title">计划</a>
                        <ul>
                            <li>小明</li>
                            <li>小白</li>
                            <li>小黑</li>
                        </ul>
                    </li>
                    <li class="list">
                        <a class="title">重要事件</a>
                        <ul>
                            <li>小明</li>
                            <li>小白</li>
                            <li>小黑</li>
                        </ul>
                    </li>
                    <li class="list">
                        <a class="title">时间仓</a>
                        <ul>
                            <li>小明</li>
                            <li>小白</li>
                            <li>小黑</li>
                        </ul>
                    </li>

                </ul>
            </div>
        </div>
        <div id="edit">
            <foreach name="selectJourContent" item="vo" key="k" >
                <li>{$vo.title} &nbsp;&nbsp;&nbsp;&nbsp;{$vo.date}|{$vo.weather}</li>
            </foreach>
            <div>{$contentfile}</div>
        </div>
    </div>
</block>
<!-- 引入具体页面的javascript -->
<block name="javascript">
    <!--编辑器插件-->
    <script charset="utf-8" src="/include/kindeditor/kindeditor.js"></script>
    <!--好友列表-->
    <link rel="stylesheet" href="/include/ul/index.css">
    <script type="text/javascript" src="/include/ul/index.js" ></script>
    <script type="text/javascript" src="/Public/home/Jour/create/index.js" ></script>


</block>
